<style>
*{
	box-sizing: border-box;
}
#page{
	width: auto;
	height: auto;
	overflow-x: hidden;

}

#top{
	width: auto;
	height: 55px;
	overflow-x: hidden;
}

.section1{
	width:auto;
	height: 618px;
	background-image: url(mountains_sky_sunset_peaks_97149_1440x900.jpg);
	background-size: cover;
	overflow-x: hidden;

}
.welimg{
	width: 600px;
	height: 150px;
	
	margin: 0px 0px 0px 360px;
	background-image: url(logo.png);
	background-size: cover;
}
li.nav-item{
	font-size: 20px;
}
.fly-in-text{
	list-style: none;
	position: absolute;

	left:22%;
	top:10%;
	transform: translateX(-50%) translateY(-50);
}
.fly-in-text li{
	display: inline-block;
	font-family: "Comic Sans MS", cursive, sans-serif;

	margin-right: 50px;
	color:#fff;
	font-family: Open Sans,Arial;
	font-weight: 300;
	font-size: 4em;
	opacity: 1;
	transition: all 1.5s ease;
}
.fly-in-text li:last-child {
	margin-right: 0;

}
.fly-in-text.hidden li{
	
}
.fly-in-text.hidden li:nth-child(1){transform: translateX(-200px) translateY(-200px);}
.fly-in-text.hidden li:nth-child(2){transform: translateX(-20px) translateY(100px);}
.fly-in-text.hidden li:nth-child(3){transform: translateX(-150px) translateY(-80px);}
.fly-in-text.hidden li:nth-child(4){transform: translateX(10px) translateY(-200px);}
.fly-in-text.hidden li:nth-child(5){transform: translateX(-300px) translateY(200px);}
.fly-in-text.hidden li:nth-child(6){transform: translateX(20px) translateY(-20px);}
.fly-in-text.hidden li:nth-child(7){transform: translateX(30px) translateY(200px);}


.section2{
  		width: auto;
  		height: auto;
  		background-image: url(images.jpg);
  		background-size: cover;
  		overflow-y: hidden;
  		overflow-x: hidden;
  		margin-top: 0px;
  		
  		
  	}
  	#form{
  		width: 780px;
  		height: 700px;
  		
  		margin:20px 0px 0px 380px;
  	}
  	#hea{
  		width: 780px;
  		height: 48px;
  		
  		
  	}
  	#bod{
  		width: 780px;
  		height: 632px;
  		
  	}
  	h3{
  		color: white;
  		font-family: cursive;
  		font-size: 45px;
  		margin: 3px 0px 0px 29px;
  	}
  	#f1{
  		margin:35px 0px 0px 30px;
  		font-weight: 4em;
  		font-family: oblique;
  		font-size: 25px;
  		color:black;
  	}
  	#bt{
  		margin: 10px 0px 0px 0px;
  	}
  	button.btn{

  		background-color: white;
  		padding: 6px 54px;
  		color: 	#696969;
  	}
  	#f2{
  		margin:15px 0px 0px 5px;
  		font-weight: 4em;
  		font-family: oblique;
  		font-size: 25px;
  		color:black;
  	}
  	#f3{
  		margin:35px 0px 0px 5px;
  		font-weight: 4em;
  		font-family: oblique;
  		font-size: 25px;
  		color:black;
  	}
  	#sel1{
  		width: 450px;
  		height: 35px;
  	}
  	.form-control{
  		font-size: 18px;
  		font-family: oblique;
  	}
  	#comment{
  		width: 450px;
  		height: 95px;
  	}
  	button#submit{
  		margin:25px 0px 0px 330px;
  		

  	}
  	button#submit:hover{
  		font-color: black;
  	}
  	 #cpage{
  	width: auto;
  	height: 700px;
  	overflow hidden;
  	

  }
  	#ctop{
  		width: auto;
  		height: 300px;
  		background-image: url(laptop_macbook_iphone_apple_journal_glasses_113949_1600x1200.jpg);
  		background-size: cover;
  		position: relative;
  		margin-top: -130px;
  	}
  	#ctop #inner{
  		width:750px;
  		height: 300px;
  		border-style: solid;
  		border-width: 0px;
  		margin:0px 0px 0px 350px;
  		
  		
  	}
  	#ctop #inner h1.c{
  		margin:120px 0px 0px 180px;
  		color: white;
  		font-weight: 4em;
  		font-size: 45px;
  	}
  	
  	h5.a{
  		margin: 10px 170px 0px 0px;
  		font-size: 15px;
  		color: white;
  	}
  	h5.b{
  		font-size: 15px;
  		margin: 8px 0px 0px 70px;
  		color: white;
  	}
  	#cbottom{
  		width: auto;
  		height: 500px;
  			background-color: 	#DCDCDC;
  		margin-top: -50px;
  		
  	}
  	#cbleft{
  		width: 850px;
  		height: 400px;
  		
  	

  	}
  	#cbright{
  		width: 498px;
  		height: 400px;
  		
  		float: right;
  		
  		margin-top: -400px;

  	}
  	#cform{
  		width: 600px;
  		height: 400px;
  		
  		margin: 50px 125px 50px 100px;
  	}
  
  	#cform .form-group{
  		margin-left : 0px;
  	}
  	#email,#pwd{
  		width: 350px;
  		height: 33px;
  		padding: 5px;		
  	}
  	#cform #info{
  		margin: 60px 0px 0px 0px;	
  	}	
  	#heading{
  		font-size: 25px;
  	}
  	#shead{
  		font-size:15px;
  	}
  	#ccontent{
  		margin-top: -50px;
  	}
  	#cbr1{
  		width: 300px;
  		height: 145px;
  		
  		margin: 40px 99px 0px 99px;
  	}
  	#cbr2{
  		width: 300px;
  		height: 145px;
  		
  		margin: 25px 99px 0px 99px;
  	}
  	
  	#section3{
  		width: auto;
  		height: auto;
  		background-image: url(images.jpg);
  		background-size: cover;
  		position: relative;
  		overflow-x: hidden;

  	}
    #th{
    	width: 1240px;
    	height: 50px;
    	
    }
    #logo{
    	width: 108px;
    	height: 350px;
    	
  		float: right;
  		margin-top: -50px;
  		background-image: url(edufox-logo1.jpg);
  		background-repeat: no-repeat;


    }
    #content{
    	width: 1240px;
    	height:300px;
    	
    }
    #footer{
    	width: 1348px;
    	height: 368px;
    	
    }
    #f4{
    	width: 337px;
    	height: 368px;
    	margin-top: 10px;
  		border-right:  1px solid #87CEFA;

    }
    #f5{
    	width: 337px;
    	height: 368px;
    	
  		border-right:  1px solid #87CEFA;
  		margin-left: 337px;
  		margin-top: -368px;

    }
     #f6{
    	width: 337px;
    	height: 368px;
    	border-right:  1px solid #87CEFA;
  		margin-left: 674px;
  		margin-top: -368px;

    }
     #f7{
    	width: 337px;
    	height: 368px;
    	border-right:  1px solid #87CEFA;
  		float: right;
  		margin-top: -368px;
    }
    ul.list{
    	margin-left:-5px;
    }
    li{
    	font-size: 20px;
    	padding: 12px 0px 0px 0px;
    }
    h5{
    	margin:-26px 0px 0px 210px;
    	color: DodgerBlue;
    }
    h4{
    	padding: 7px 0px 0px 0px;
    	margin: 0px 0px 0px 430px;
    	font-weight: bold;
    	color: DodgerBlue;
    }
    #head1{
    	width:280px;
    	height: 30px;
    	margin: 0px 28.5px 0px 23px;
    	background-color: yellow; 
    	
    }
     #head2{
    	width:280px;
    	height: 30px;
    	margin: 0px 28.5px 0px 26px;
    	background-color: yellow; 
    	
    	
    }
    #head3{
    	width:280px;
    	height: 30px;
    	margin: 0px 28.5px 0px 26px;
    	background-color: yellow; 
    	
    	
    }
    #head4{
    	width:280px;
    	height: 30px;
    	margin: 0px 28.5px 0px 26px;
    	background-color: yellow; 
    
    	
    }
    #head3 p{
    	margin:14px 0px 0px -15px;
    	font-size: 19px;
    }
     #head4 p{
    	margin:10px 0px 0px -15px;
    	font-size: 19px;
    	padding-top: 5px;
    }
    /*media queries*/
    @media(max-width: 768px){
    	body{
    		overflow-x: hidden;
    	}
    	#top{
    		float: none;
    		text-align: center;
    		height: 55px;
    		width: 768px;
    		
    	}
    	.navbar li{
    		width:auto;height: 55px;
    		display: inline-block; 
    	}
    	#section1{
    		float:none;
    		width: 768px;
    		overflow-x: hidden;
    	}
    	.welimg{
    		float: none;
    		
    		width: 300px;
    		height: 40px;
    		
    		margin-left:all; 
    	}

    	#form{
    		float: left;
    		margin-left: 0px;
    		margin-right: 150px;
    		width: 100%;height: auto;
    	}
    	#cpage{
    		width: auto;
    		height: auto;float: none;
    	}
    	#cform{
    		margin-left: 0px;
    	}
    	#cbright{
    		
    		float: right;
    		margin-top: -10px;
    		padding-top: 100px;
    		margin-left: 10px;
    		
    	}

    }

 
</style>